<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="/css/app.css" rel="stylesheet" />
  <title>{{#if viewData.title}}{{ viewData.title }}{{else}}Soft Market{{/if}}</title>
</head>
<body>
  <!-- header -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary py-4">
    <div class="container">
      <a class="navbar-brand" href="/">Soft Market</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" href="/">Головна</a>
          <a class="nav-link active" href="/categories">Продукти</a>
          <a class="nav-link active" href="/cart">Кошик</a>
          <a class="nav-link active" href="/about">Про нас</a>
          <div class="vr bg-white mx-2 d-none d-lg-block"></div>
          {{#if session.user}}
          <a class="nav-link active" href="/account/orders">Мої замовлення</a>
            {{#ifCond session.user.role 'admin'}}
            <a class="nav-link active" href="/admin/products">Адмін панель</a>
            {{/ifCond}}
          <a class="nav-link active" href="/auth/logout">Вихід ({{session.user.name}})</a>
          {{else}}
          <a class="nav-link active" href="/auth/login">Увійти</a>
          <a class="nav-link active" href="/auth/register">Зареєструватись</a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>

  <header class="masthead bg-primary text-white text-center py-4">
    <div class="container d-flex align-items-center flex-column">
      <h2>{{#if viewData.subtitle}}{{ viewData.subtitle }}{{else}}Категорії продуктів{{/if}}</h2>
    </div>
  </header>
  <!-- header -->

  <div class="container my-4">
    {{> content}}
  </div>

  <!-- footer -->
  {{!-- <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>
        Copyright
      </small>
    </div>
  </div> --}}
  <!-- footer -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
  </script>
</body>
</html>