{{#> app}}
  {{#*inline "content"}}
    <div class="card">
      <div class="card-header">
        Продукти в корзині
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped text-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Назва</th>
              <th scope="col">Ціна</th>
              <th scope="col">Кількість</th>
            </tr>
          </thead>
          <tbody>
            {{#each viewData.productsInCart}}
            <tr>
              <td>{{getId}}</td>
              <td>{{getName}}</td>
              <td>{{getPrice}} грн.</td>
              <td>{{lookup ../session.products id}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="row">
          <div class="text-end">
            <a class="btn btn-outline-secondary mb-2"><b>Загальна ціна:</b> {{viewData.total}} грн.</a>
            {{#if viewData.productsInCart}}
            <a href="/cart/purchase" class="btn bg-primary text-white mb-2">Оформити замовлення</a>
            <a href="/cart/delete" class="btn btn-danger mb-2">
              Видалити з корзини
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
{{/app}}
