{{#> app}}
  {{#*inline "content"}}
    <ul class="my-orders list-group mb-5">
      <li class="list-group-item list-group-header row d-flex align-items-center">
        <div class="col-md-2">
          Номер замовлення
        </div>
        <div class="col-md-4">
          Продукти
        </div>
        <div class="col-md-2">
          Статус
        </div>
        <div class="col-md-2">
          Дата замовлення
        </div>
        <div class="col-md-2">
          Cума
        </div>
      </li>
      {{#each viewData.orders}}
        <li class="list-group-item row d-flex align-items-center">
          <div class="col-md-2">
            <a href="/account/orders/{{getId}}" class="order-number button-link">{{getId}}</a>
          </div>
          <div class="col-md-4">
              <div class="dflex">
                {{#each getItems}}
                  <img class="product-img" src="/uploads/{{product.image}}" />
                {{/each}}
              </div>
          </div>
          <div class="col-md-2">
            <span class="order-status order-status--{{status}} badge">{{orderStatus status}}</span>
          </div>
          <div class="col-md-2">
            {{getDate}}
          </div>
          <div class="col-md-2">
            <strong>{{getTotal}}</strong>&nbsp;<span style="font-size: 14px;">грн</span>
          </div>
        </li>
      {{/each}}
    </ul>
  {{/inline}}
{{/app}}