{{#> app}}
  {{#*inline "content"}}
    {{#with viewData.product}}
    <div class="product-info card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/uploads/{{getImage}}" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">
              {{getName}}
            </h3>
            <p class="card-text">{{{formatLineBreaks description}}}</p>
            <div class="product-info__buy">
              <div class="product-price">
                <span class="product-price__value">{{getPrice}}</span>
                <span class="product-price__currency">грн</span>
              </div>

              <button class="add-to-cart-btn btn {{productInCart @root.session.products id 'btn-outline-primary' 'btn-primary'}}" type="button" data-product-id="{{getId}}">
                <i class="bi {{productInCart @root.session.products id 'bi-check2' 'bi-cart'}}"></i>{{productInCart @root.session.products id 'В кошику' 'Купити'}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/with}}
  {{/inline}}
{{/app}}
